<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Birthday List</ion-title>
    <ion-buttons slot="end">
      <ion-button class=" ion-justify-content-center"
                  routerLink="/birthdays/add-birthday"
                  routerDirection="forward">
        <ion-icon color="primary"
                  slot="icon-only"
                  name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar style="  box-shadow: 7px 7px 16px rgba(0,0,0,.12) !important; border-bottom-left-radius: 8px !important; border-bottom-right-radius: 8px !important; ">
    <ion-searchbar [(ngModel)]="searchQuery"
                   color="light"
                   placeholder="Search By Name..."></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">
    <!------------WELCOME MESSAGE WHEN LIST EMPTY------------------------------>
    <ion-card *ngIf="birthdays.length === 0">
      <ion-card-header>
        <ion-card-title color="primary"
                        class="ion-text-center"
                        style="text-transform: capitalize;"> Welcome! </ion-card-title>
        <ion-card-subtitle class="ion-text-center"
                           style="text-transform: capitalize;">No Birthdays Detected</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <b>Happy Birthday</b> is an app designed to schdedule and send custom birthday notifications to the people you love.
      </ion-card-content>
      <ion-row class="ion-text-center ion-justify-content-center">
        <!-- <ion-button class="ion-justify-content-center" fill="clear" (click)="onViewTutorial()">Add Birthday <ion-icon slot="end" name="arrow-forward"></ion-icon>
         </ion-button> -->
      </ion-row>
    </ion-card>

    <!------------Birthday Notifications------------------------------>

    <ion-item-sliding *ngFor="let birthday of birthdays | filterBirthdays: searchQuery">
      <ion-item-options side="end">
        <ion-item-option color="danger"
                         (click)="onDelete(birthday)">Delete</ion-item-option>
      </ion-item-options>
      <ion-item button
                (click)="onViewDetail(birthday)"
                detail
                lines="full"
                [routerLink]="['/birthdays/birthday-detail', birthday.name]"
                routerDirection="forward">
        <ion-avatar class="custom-avatar"
                    slot="start">
          <ion-img src=" assets/images/cake1.jpg"></ion-img>
          <!-- > -->
        </ion-avatar>

        <ion-label style="text-transform: capitalize;">
          <b>{{ birthday.name }}</b>
          <p><b>Birthday:</b> {{birthday.birthDate | date: 'MMMM dd' }} </p>
          <p><b>Message:</b> {{birthday.message}} </p>
        </ion-label>
      </ion-item>
    </ion-item-sliding>

  </ion-list>
</ion-content>
