ion-item {
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;
    --background-activated: var(--ion-color-light);
    --color-activated: var(--ion-color-primary);
    --ripple-color: var(--ion-color-primary);
}

ion-toolbar {
    --background: black;
}

.custom-avatar {
    height: 12vw;
    width: 12vw;
    border: 1px solid #c2a446;
}