ion-content {
  --background: url('/../../assets/images/back4.png') no-repeat center center / cover;
  --overflow: hidden;
}

.checkbox {
  --border-color: white;
}

ion-item {
  --background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
  --ion-item-background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
  --background-focused: var(--ion-color-transparent, rgba(0, 0, 0, 0));

}

.ionSelect {
  --background-activated: var(--ion-color-medium-shade);
}

ion-button {
  --background-activated: var(--ion-color-primary-tint);
}
