<ion-content class="ion-padding">
    <form [formGroup]="formObj">
        <ion-grid>
            <ion-row style="height: 180px"
                     class="ion-padding-top">
                <ion-col class="ion-padding-top"
                         size-sm="6"
                         offset-sm="3">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="ion-padding-top"
                         size-sm="6"
                         offset-sm="3">

                    <!-- *************EMAIL************************ -->
                    <ion-item [ngClass]="{'errorItem': formObj.get('email').invalid && formObj.get('email').touched }">
                        <ion-label position="floating"
                                   color="primary">
                            <ion-icon name="md-mail"
                                      slot="start">
                            </ion-icon>
                            E-Mail
                        </ion-label>
                        <ion-input type="email"
                                   email
                                   color="warning"
                                   formControlName="email">
                        </ion-input>
                    </ion-item>

                    <!-- ****ERROR LABEL**** -->
                    <ion-item class="errorMessage"
                              *ngIf="formObj.get('email').invalid && formObj.get('email').touched"
                              lines="none">
                        <p>
                            Should ber a valid email
                        </p>
                    </ion-item>

                    <!-- *************PASSWORD************************ -->
                    <ion-item [ngClass]="{'errorItem': formObj.get('password').invalid && formObj.get('password').touched}">
                        <ion-label position="floating"
                                   color="primary">
                            <ion-icon name="md-key"
                                      slot="start">
                            </ion-icon>
                            Password
                        </ion-label>
                        <ion-input color="warning"
                                   type="password"
                                   required
                                   formControlName="password"
                                   minlength="6">
                        </ion-input>

                        <!-- ****ERROR LABEL**** -->
                    </ion-item>
                    <ion-item class="errorMessage"
                              *ngIf="formObj.get('password').invalid && formObj.get('password').touched"
                              lines="none">
                        <p>
                            Enter your password
                        </p>
                    </ion-item>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size-sm="6"></ion-col>
                <ion-col size-sm="6">
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col size-sm="6"
                         offset-sm="3">
                    <ion-item class="ionSelect"
                              lines="none">
                        <ion-checkbox class="checkbox"
                                      checked="false"
                                      color="primary"
                                      formControlName="rememberMe">
                        </ion-checkbox>
                        <ion-label color="primary">
                            Remember Me
                        </ion-label>
                    </ion-item>
                </ion-col>

                <ion-col size-sm="3">
                </ion-col>
            </ion-row>

            <ion-row style="padding-top:40px">
                <ion-col size-sm="6"
                         offset-sm="3">
                    <ion-button [disabled]="formObj.invalid"
                                color="primary"
                                type="submit"
                                expand="block"
                                (click)="onLogin()">
                        <ion-ripple-effect unbounded></ion-ripple-effect>

                        <b>Login</b>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row style="height: 40px">
                <ion-col size-sm="6"
                         offset-sm="3">
                    <ion-button color="primary"
                                fill="clear"
                                expand="block"
                                (click)="onGoToCreateAccount()">
                        <ion-ripple-effect></ion-ripple-effect>

                        <b> Create a New Account</b>
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row style="height: 40px">
                <ion-col size-sm="6"
                         offset-sm="3">
                    <ion-button color="primary"
                                fill="clear"
                                expand="block"
                                (click)="onGoToForgotPassword()">
                        <b>Forgot Password?</b>
                    </ion-button>
                </ion-col>
            </ion-row>

        </ion-grid>
    </form>
</ion-content>
