<ion-header>
  <ion-toolbar color="dark"
               style=" box-shadow: 7px 7px 16px rgba(0,0,0,.12) !important; border-bottom-left-radius: 8px !important;  border-bottom-right-radius: 8px !important; ">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/birthdays"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Birthday Detail</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-justify-content-center"
                  (click)="onSubmit()"
                  [disabled]="formObj.invalid">
        <b>Update</b>
        <ion-icon slot="end"
                  name="ios-send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formObj">
    <!-- --------------------*Name*---------------------------------------------------->
    <ion-item lines="full"
              class="ion-padding-top"
              [ngClass]="{'errorItem': formObj.get('name').invalid && formObj.get('name').touched}">
      <ion-label position="floating"
                 color="primary">
        <b>
          Name:
        </b>
      </ion-label>
      <ion-input placeholder="Name..."
                 autocapitalize
                 formControlName="name"
                 inputmode="text"
                 type="text"></ion-input>
    </ion-item>

    <!-- --------------Name Error Label---------------------------------------------------- -->
    <ion-item class="errorMessage"
              *ngIf="formObj.get('name').invalid && formObj.get('name').touched"
              lines="none">
      <p>
        Enter Name
      </p>
    </ion-item>

    <!-- --------------------*Email*---------------------------------------------------->
    <ion-item lines="full"
              [ngClass]="{'errorItem': formObj.get('email').invalid && formObj.get('email').touched}">
      <ion-label position="floating"
                 color="primary">
        <b>
          Email:
        </b>
      </ion-label>
      <ion-input placeholder="Email..."
                 autocapitalize
                 formControlName="email"
                 inputmode="text"
                 type="text">
      </ion-input>
    </ion-item>
    <!-- --------------Error Label---------------------------------------------------- -->
    <ion-item class="errorMessage"
              *ngIf="formObj.get('email').invalid && formObj.get('email').touched"
              lines="email">
      <p>
        Enter email
      </p>
    </ion-item>

    <!-- --------------------*BirthDate*---------------------------------------------------->
    <ion-item lines="full"
              [ngClass]="{'errorItem': formObj.get('birthDate').invalid && formObj.get('birthDate').touched}">
      <ion-label position="floating"
                 color="primary">
        <b>
          Birthday:
        </b>
      </ion-label>
      <ion-datetime placeholder="Birthday..."
                    display-format="MMMM DD"
                    picker-format="MMMM DD"
                    formControlName="birthDate"></ion-datetime>
    </ion-item>


    <!-- --------------------*Message*---------------------------------------------------->
    <ion-item lines="full"
              [ngClass]="{'errorItem': formObj.get('message').invalid && formObj.get('message').touched}">
      <ion-label position="floating"
                 color="primary">
        <b>
          Message:
        </b>
      </ion-label>
      <ion-textarea autoGrow
                    rows="2"
                    autocapitalize
                    placeholder="Birthday Message..."
                    formControlName="message"
                    inputmode="text"
                    type="text">
      </ion-textarea>
    </ion-item>

    <!-- ****ERROR LABEL**** -->
    <ion-item class="errorMessage 	"
              *ngIf="formObj.get('message').invalid && formObj.get('message').touched"
              lines="full">
      <p>
        Enter Message
      </p>
    </ion-item>
  </form>
</ion-content>
