<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Cancel"
                       defaultHref="/birthdays"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Add Birthday</ion-title>
    <ion-buttons slot="end">
      <ion-button class="ion-justify-content-center"
                  (click)="onSubmit()"
                  [disabled]="formObj.invalid">
        <b>Create</b>
        <ion-icon slot="end"
                  name="ios-send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formObj">


    <ion-slides pager="true"
                #sliderContainer
                class="mainSliderContainer">
      <!-- //-------------Slide 1 -------------------------------- -->
      <ion-slide>
        <div class="slideContainer">

          <img style="  box-shadow: 7px 7px 16px rgba(0,0,0,.12) !important; border-bottom-left-radius: 8px !important; border-bottom-right-radius: 8px !important; "
               src="assets/images/enterName1.jpg">
          <!-- --------------------*Name*---------------------------------------------------->
          <ion-item class="ion-padding-top"
                    lines="full"
                    [ngClass]="{'errorItem': formObj.get('name').invalid && formObj.get('name').touched}">
            <ion-input placeholder="Name..."
                       autocapitalize
                       formControlName="name"
                       inputmode="text"
                       type="text"></ion-input>
          </ion-item>

          <!-- --------------Name Error Label---------------------------------------------------- -->
          <ion-item class="errorMessage"
                    *ngIf="formObj.get('name').invalid && formObj.get('name').touched"
                    lines="none">
            <p>
              Enter Name
            </p>
          </ion-item>
          <ion-button [disabled]="formObj.get('name').invalid"
                      class="ion-padding-top"
                      (click)="nextSlide()"
                      color="primary"
                      fill="clear">
            <b>Next</b>
            <ion-icon slot="end"
                      name="arrow-forward">
            </ion-icon>
          </ion-button>
        </div>
      </ion-slide>


      <!-- //-------------Slide 2 -------------------------------- -->
      <ion-slide>
        <div class="slideContainer">
          <div class="imgHolder">

            <img style="  box-shadow: 7px 7px 16px rgba(0,0,0,.12) !important; border-bottom-left-radius: 8px !important; border-bottom-right-radius: 8px !important; "
                 src="assets/images/enterEmail1.png">
          </div>
          <ion-item class="ion-padding-top"
                    lines="full"
                    [ngClass]="{'errorItem': formObj.get('email').invalid && formObj.get('email').touched}">
            <ion-input placeholder="Email..."
                       autocapitalize
                       formControlName="email"
                       inputmode="text"
                       type="text">
            </ion-input>
          </ion-item>

          <!-- --------------Error Label---------------------------------------------------- -->
          <ion-item class="errorMessage"
                    *ngIf="formObj.get('email').invalid && formObj.get('email').touched"
                    lines="email">
            <p>
              Enter email
            </p>
          </ion-item>
          <ion-button [disabled]="formObj.get('email').invalid"
                      class="ion-padding-top"
                      (click)="nextSlide()"
                      color="primary"
                      fill="clear"> <b>Next</b>
            <ion-icon slot="end"
                      name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-slide>


      <!-- //-------------Slide 3 -------------------------------- -->

      <ion-slide>
        <div class="slideContainer">
          <img style="  box-shadow: 7px 7px 16px rgba(0,0,0,.12) !important; border-bottom-left-radius: 8px !important; border-bottom-right-radius: 8px !important; "
               src="assets/images/enterBirthDate1.png">
          <ion-item class="ion-padding-top"
                    lines="full"
                    [ngClass]="{'errorItem': formObj.get('birthDate').invalid && formObj.get('birthDate').touched}">
            <!-- <ion-input placeholder="Birth Date..." autocapitalize formControlName="birthDate" inputmode="number" type="number"></ion-input> -->
            <ion-datetime placeholder="Birth Date..."
                          display-format="MMMM DD"
                          picker-format="MMMM DD"
                          formControlName="birthDate"></ion-datetime>
          </ion-item>

          <ion-button [disabled]="formObj.get('birthDate').invalid"
                      class="ion-padding-top"
                      (click)="nextSlide()"
                      color="primary"
                      fill="clear"> <b>Next</b>
            <ion-icon slot="end"
                      name="arrow-forward"></ion-icon>
          </ion-button>
        </div>
      </ion-slide>


      <!-- //-------------Slide 4 -------------------------------- -->
      <ion-slide>
        <div class="slideContainer">
          <img style="  box-shadow: 7px 7px 16px rgba(0,0,0,.12) !important; border-bottom-left-radius: 8px !important; border-bottom-right-radius: 8px !important; "
               src="assets/images/enterMessage1.png">
          <ion-item class="ion-padding-top"
                    lines="full"
                    [ngClass]="{'errorItem': formObj.get('message').invalid && formObj.get('message').touched}">
            <ion-input autocapitalize
                       placeholder="Birthday Message..."
                       formControlName="message"
                       inputmode="text"
                       type="text">
            </ion-input>
          </ion-item>

          <!-- ****ERROR LABEL**** -->
          <ion-item class="errorMessage 	"
                    *ngIf="formObj.get('message').invalid && formObj.get('message').touched"
                    lines="full">
            <p>
              Enter Birth Date
            </p>
          </ion-item>
        </div>

      </ion-slide>
    </ion-slides>
  </form>
</ion-content>
