ion-content {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}

ion-toolbar {
    --background: black;
}

.swiper-slide {
    display: block;
}

.mainSliderContainer {
    position: relative;
    width: 100%;
}

.slideContainer {
    position: relative;
    width: 100%;
}

ion-slide img {
    height: 20vh;
    width: 100vw;
    margin: 0 auto;
}

ion-slide {
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light",
        "Helvetica Neue Light",
        "Helvetica Neue",
        Helvetica,
        Arial,
        "Lucida Grande",
        sans-serif;
    font-weight: 300;
    height: 100vw;

}

ion-slides {
    --bullet-background: black;
    --bullet-background-active: var(--ion-color-primary);
    text-align: center;
}
