// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #c2a446;
  --ion-color-primary-rgb: 194, 164, 70;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: #ab903e;
  --ion-color-primary-tint: #c8ad59;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #f274bb;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #76b9ee;
  --ion-color-success-rgb: 14, 194, 84;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0cab4a;
  --ion-color-success-tint: #26c865;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #c2a446;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /**  ORIGNAL medium **/

  --ion-color-medium2: #abadb3;
  --ion-color-medium2-rgb: 171, 173, 179;
  --ion-color-medium2-contrast: #000000;
  --ion-color-medium2-contrast-rgb: 0, 0, 0;
  --ion-color-medium2-shade: #96989e;
  --ion-color-medium2-tint: #b3b5bb;

  /** medium **/
  --ion-color-medium: #222428;
  --ion-color-medium-rgb: 34, 34, 34;
  --ion-color-medium-contrast: #f4f5f8;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #1e2023;
  --ion-color-medium-tint: #383a3e;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** tabs **/
  --ion-color-tabs: #222428;
  --ion-color-tabs-rgb: 34, 34, 34;
  --ion-color-tabs-contrast: #f4f5f8;
  --ion-color-tabs-contrast-rgb: 255, 255, 255;
  --ion-color-tabs-shade: #1e2023;
  --ion-color-tabs-tint: #383a3e;

  // black
  --ion-color-black: #000000;
  --ion-color-black-rgb: 30, 29, 25;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255, 255, 255;
  --ion-color-black-shade: #1a1a16;
  --ion-color-black-tint: #353430;

  // placeholder
  --ion-color-placeholder: #666;
  --ion-color-placeholder-rgb: 30, 29, 25;
  --ion-color-placeholder-contrast: #ffffff;
  --ion-color-placeholder-contrast-rgb: 255, 255, 255;
  --ion-color-placeholder-shade: #1a1a16;
  --ion-color-placeholder-tint: #353430;



  --ion-color-orange: #FCAC00;
  --ion-color-orange-rgb: 252, 172, 0;
  --ion-color-orange-contrast: #000000;
  --ion-color-orange-contrast-rgb: 0, 0, 0;
  --ion-color-orange-shade: #de9700;
  --ion-color-orange-tint: #fcb41a;


  --ion-color-transparent: rgba(0, 0, 0, 0.0);

  //---------HOW TO ADD NEW COLOR-----//



  .ion-color-orange {
    --ion-color-base: var(--ion-color-orange);
    --ion-color-base-rgb: var(--ion-color-orange-rgb);
    --ion-color-contrast: var(--ion-color-orange-contrast);
    --ion-color-contrast-rgb: var(--ion-color-orange-contrast-rgb);
    --ion-color-shade: var(--ion-color-orange-shade);
    --ion-color-tint: var(--ion-color-orange-tint);
  }


  .ion-color-medium2 {
    --ion-color-base: var(--ion-color-medium2);
    --ion-color-base-rgb: var(--ion-color-medium2-rgb);
    --ion-color-contrast: var(--ion-color-medium2-contrast);
    --ion-color-contrast-rgb: var(--ion-color-medium2-contrast-rgb);
    --ion-color-shade: var(--ion-color-medium2-shade);
    --ion-color-tint: var(--ion-color-medium2-tint);
  }

  .ion-color-placeholder {
    --ion-color-base: var(--ion-color-medium2);
    --ion-color-base-rgb: var(--ion-color-medium2-rgb);
    --ion-color-contrast: var(--ion-color-medium2-contrast);
    --ion-color-contrast-rgb: var(--ion-color-medium2-contrast-rgb);
    --ion-color-shade: var(--ion-color-medium2-shade);
    --ion-color-tint: var(--ion-color-medium2-tint);
  }



  //------MESSAGE CSS -------------------
  --ion-font-family: "Roboto",
  "Arial",
  sans-serif;
  --message-outgoing-color: lightgoldenrodyellow;
  --message-incoming-color: white;
  --conversation-background-color: lavender;
  --message-check-mark-color: #399BF0;
  --message-padding-content: 2px;
  --message-padding-between: 0;
  --message-round-size: 0.5em;
  --message-round-size-negative: calc(-1 * var(--message-round-size));




  //-----------END-------------------


  .errorItem {
    ion-label {
      color: var(--ion-color-danger);

      ion-icon {
        --color: var(--ion-color-danger);
      }
    }
  }


  .alert-tappable.sc-ion-alert-ios,
  .alert-tappable.sc-ion-alert-md {
    display: contents;
  }

  .alert-wrapper.sc-ion-alert-ios,
  .alert-wrapper.sc-ion-alert-md {
    max-width: 75vw;
  }

  .sc-ion-alert-ios .alert-radio-label,
  .alert-checkbox-label.sc-ion-alert-ios,
  .alert-checkbox-label.sc-ion-alert-md,
  .sc-ion-alert-md .alert-radio-label {
    white-space: pre-line !important;
  }

  .errorMessage {
    font-size: 0.8em;
    color: var(--ion-color-danger);
    --padding-top: 0px;
    --padding-bottom: 0px;
  }

  .errorIonTextArea {
    --placeholder-color: var(--ion-color-danger);
  }


  .bigIcon ion-icon {
    // class="ion-padding-top": 3px;
    // padding-left: 10px;
    font-size: 40px;
  }



  .plus ion-icon {
    // class="ion-padding-top": 3px;
    // padding-left: 10px;
    font-size: 77;
  }


  .transparent {
    --background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
    --background-focused: var(--ion-color-transparent, rgba(0, 0, 0, 0));
    // --background-activated: 
  }

  // ion-modal ion-backdrop{
  //   visibility: visible !important;
  // }


  .minus ion-icon {
    // class="ion-padding-top": 3px;
    // padding-left: 10px;
    font-size: 70;
  }


  .ionic-line {
    border-bottom: 0.44px solid var(--ion-item-border-color, var(--ion-border-color, var(--ion-color-step-250, #c8c7cc))) !important;

  }

  .underline {
    text-decoration: underline;
  }

  .captial {
    text-transform: capitalize !important;
  }


  .request-task-modal {
    --height: 75% !important;
    --width: 75% !important;
    // --border-width:	
    // --border-color:	
    // --border-style:
    // --border-radius:
  }


  .swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300msopacity;
    -o-transition: 300msopacity;
    transition: 300msopacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }

  .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
  }

  /* Common Styles */
  .swiper-pagination-fraction,
  .swiper-pagination-custom,
  .swiper-container-horizontal>.swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
  }

  /* Bullets */
  .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    position: relative;
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-next {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
  }

  .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
  }

  .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
    opacity: 0.2;
  }

  button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .swiper-pagination-clickable.swiper-pagination-bullet {
    cursor: pointer;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background: #fff;
  }

  .swiper-container-vertical>.swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
  }

  .swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullet {
    margin: 6px0;
    display: block;
  }

  .swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
  }

  .swiper-container-vertical>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: 200mstop, 200ms -webkit-transform;
    transition: 200mstop, 200ms -webkit-transform;
    -o-transition: 200mstransform, 200mstop;
    transition: 200mstransform, 200mstop;
    transition: 200mstransform, 200mstop, 200ms -webkit-transform;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullet {
    margin: 04px;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
  }

  .swiper-container-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    -webkit-transition: 200msleft, 200ms -webkit-transform;
    transition: 200msleft, 200ms -webkit-transform;
    -o-transition: 200mstransform, 200msleft;
    transition: 200mstransform, 200msleft;
    transition: 200mstransform, 200msleft, 200ms -webkit-transform;
  }

  .swiper-container-horizontal.swiper-container-rtl>.swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    -webkit-transition: 200msright, 200ms -webkit-transform;
    transition: 200msright, 200ms -webkit-transform;
    -o-transition: 200mstransform, 200msright;
    transition: 200mstransform, 200msright;
    transition: 200mstransform, 200msright, 200ms -webkit-transform;
  }

  // --background: #000000 url('/../../assets/images/darker2.jpg')  no-repeat center center / cover;
  // .tire-icon {
  //   width:auto;
  //   height: auto;
  //   white-space: nowrap;

  //   &.green {
  //     display: flex;
  //     justify-content: center;
  //     background: url('../assets/images/good.png') center  no-repeat;
  //   }
  //   &.gray {
  //     display: flex;
  //     justify-content: center;
  //     background: url('../assets/images/noWheel.png') center  no-repeat;
  //   }
  //   &.red {
  //     display: flex;
  //     justify-content: center;
  //     background: url('../assets/images/danger.png') center  no-repeat;
  //   }
  //   &.orange {
  //     display: flex;
  //     justify-content: center;
  //     background: url('../assets/images/danger.png') center  no-repeat;
  //   }
  //   &.yellow {
  //     display: flex;
  //     justify-content: center;
  //     background: url('../assets/images/warning.png') center  no-repeat;
  //   }
  // }

  // .axle-icon {
  //   width:auto;
  //   height: auto;
  //   &.green {
  //     display: flex;
  //     justify-content: center;
  //     background: url('../assets/images/axle.png') center  no-repeat;
  //   }
  // }




}

//--------------------------------------------NOTES/COMMENTS-----------------------------------------------------------------------------//
// --ion-padding: 10rem;
// --ion-toolbar-background: var(--ion-color-primary, black);
// --ion-toolbar-color: var(--ion-color-primary-contrast, white);
//bug fix because  if changing global tool bar use until ionic fixes 
// ion-toolbar {
//   ion-button,
//   ion-back-button,
//   ion-menu-button,
//   .sc-ion-back-button-ios-h {
//     --color: white;
//   }
// }

// ion-toolbar {
//   box-shadow: 0 4px 16px rgba(0,0,0,.12);

//   border-radius: 8px;
//       -webkit-font-smoothing: antialiased;
// }

// ion-button {
//   --background: blue;
//   --box-shadow: 2px 2px 20px rgba(0,0,0,0.6);
// }
