.sideMenu {
    .active-item {
        border-left: 8px solid var(--ion-color-primary);
        ion-label {
            --color: var(--ion-color-primary);
        }
        .icon-inner {
            color: var(--ion-color-primary);
        }
        ion-icon {
            color: var(--ion-color-primary);
        }
        --detail-icon-color: var(--ion-color-primary)
    }

    ion-icon {
        color: var(--ion-color-primary-contrast);
    }

    ion-label {
        --color: var(--ion-color-primary-contrast);
    }

    ion-item {
        --background: var(--ion-color-transparent);
        --ion-item-background: var(--ion-color-transparent);
        --background-focused: var(--ion-color-transparent);
        --detail-icon-opacity: 1;
        --detail-icon-color: var(--ion-color-primary-contrast);
    }

    ion-menu-button {
        --background: var(--ion-color-transparent);
        --background-focused: var(--ion-color-transparent);
    }

    .profile {
        top: 0;
        right: 0;
        left: 0;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
    }

    .profile .name {
        color: var(--ion-color-primary-tint);
        margin-top: 10px !important;
        padding-bottom: 20px !important;
    }

    .profile-picture {
        border-radius: 50%;
    }

    ion-content {
        --background: rgb(0, 0, 0) linear-gradient(90deg, rgba(37, 35, 25, 1) 32%, rgba(48, 45, 33, 1) 98%, rgba(149, 128, 62, 1) 100%);
    }

    .sideMenuContainer {
        padding-top: 40px;
    }

    .image-center {
        margin: 0 auto;
    }

    .logoContainer {
        height: 100px;
    }

    .custom-avatar {
        height: 25vw;
        width: 25vw;
        border: 1px solid black;
        margin: 0 auto;
    }
    .line {
        border: 1px solid var(--ion-color-black);
    }
}
