<ion-app>
  <ion-menu side="start"
            class="sideMenu"
            contentId="my-content"
            type="overlay">
    <ion-content>
      <div class=" ion-align-items-center ion-padding-top	 ion-justify-content-center">
        <ion-avatar class="custom-avatar">
          <img src="assets/images/logo3.jpg">
        </ion-avatar>
      </div>

      <div class="ion-text-center ion-padding-top">
        <ion-text class="ionic-text"
                  style="text-transform: capitalize; font-size: 20px;"
                  color="light">
          <b>Welcome</b> </ion-text>
      </div>
      <div style="padding-top: 22px;"></div>

      <!-- *************Log Out*********************** -->
      <ion-menu-toggle>
        <ion-item lines="full"
                  class.active-item="selectedPath.startsWith('/auth')"
                  (click)="onLogOut()"
                  detail
                  button>
          <ion-icon name="log-out"
                    slot="start"></ion-icon>
          <ion-label>
            Logout
          </ion-label>
        </ion-item>
      </ion-menu-toggle>
      <div class="line"></div>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="my-content"></ion-router-outlet>
</ion-app>