<ion-content class="ion-padding">
  <form [formGroup]="formObj">
    <ion-grid>
      <ion-row style="height: 150px"
               class="ion-padding-top">
        <ion-col class="ion-padding-top"
                 size-sm="6"
                 offset-sm="3">
        </ion-col>
      </ion-row>

      <ion-row >
        <ion-col class="ion-padding-top"
                 size-sm="6"
                 offset-sm="3">
          <!-- *************EMAIL************************ -->
          <ion-item [ngClass]="{'errorItem': formObj.get('email').invalid && formObj.get('email').touched}">
            <ion-label position="floating"
                       color="primary">
              E-Mail
            </ion-label>
            <ion-input type="email"
                       email
                       color="warning"
                       formControlName="email">
            </ion-input>
          </ion-item>

          <!-- ****ERROR LABEL**** -->
          <ion-item class="errorMessage"
                    *ngIf="formObj.get('email').invalid && formObj.get('email').touched"
                    lines="none">
            <p>
              Should ber a valid email
            </p>
          </ion-item>

          <!-- *************NAME************************ -->
          <ion-item [ngClass]="{'errorItem': formObj.get('name').invalid && formObj.get('name').touched}">
            <ion-label position="floating"
                       color="primary">
              Name
            </ion-label>
            <ion-input class="ion-text-capitalize"
                       color="warning"
                       type="text"
                       required
                       formControlName="name"
                       minlength="2">
            </ion-input>
          </ion-item>

          <!-- ****ERROR LABEL**** -->
          <ion-item class="errorMessage"
                    *ngIf="formObj.get('name').invalid && formObj.get('name').touched"
                    lines="none">
            <p>
              Enter your name
            </p>
          </ion-item>

          <!-- *************PASSWORD************************ -->
          <ion-item [ngClass]="{'errorItem': formObj.get('password').invalid && formObj.get('password').touched}">
            <ion-label position="floating"
                       color="primary">
              Password
            </ion-label>
            <ion-input color="warning"
                       type="password"
                       required
                       formControlName="password"
                       minlength="6">
            </ion-input>
          </ion-item>

          <!-- ****ERROR LABEL**** -->
          <ion-item class="errorMessage"
                    *ngIf="formObj.get('password').invalid && formObj.get('password').touched"
                    lines="none">
            <p>
              Should be between 3-20 characters
            </p>
          </ion-item>

          <!-- *************PASSWORD CONFIRM************************ -->
          <ion-item [ngClass]="{'errorItem': formObj.hasError('notSame') && formObj.get('passwordConfirm').touched}">
            <ion-label position="floating"
                       color="primary">
              Confirm Password
            </ion-label>
            <ion-input color="warning"
                       type="password"
                       required
                       formControlName="passwordConfirm"
                       minlength="6">
            </ion-input>
          </ion-item>

          <!-- ****ERROR LABEL**** -->
          <ion-item lines="none"
                    class="errorMessage"
                    *ngIf="formObj.hasError('notSame') && formObj.get('passwordConfirm').touched ">
            <p>
              Should match password and be between 3-20 characters
            </p>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row style="padding-top:40px">
        <ion-col size-sm="6"
                 offset-sm="3">

          <ion-button color="primary"
                      [disabled]="formObj.invalid"
                      type="submit"
                      expand="block"
                      (click)="onSubmit()">
            <b> Sign Up</b>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row style="height: 40px">
        <ion-col size-sm="6"
                 offset-sm="3">
          <ion-button color="primary"
                      fill="clear"
                      expand="block"
                      (click)="goToLogin()">
            <b>I already have an account</b>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
