ion-content {
  --background: url('/../../assets/images/back1.jpg') no-repeat center center / cover;
  --overflow: hidden;
}

.checkbox {
  --border-color: white;
}

ion-item {
  --background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
  --ion-item-background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
}

.hasError {
  color: var(--ion-color-danger);
}

.ionSelect {
  --background-activated: var(--ion-color-medium-shade);
}


ion-select {
  color: var(--ion-color-warning)
}
