ion-content {
  --background: url('/../../assets/images/back1.jpg') no-repeat center center / cover;
  --overflow: hidden;
}

ion-item {
  --background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
  --ion-item-background: var(--ion-color-transparent, rgba(0, 0, 0, 0));
  --background-focused: var(--ion-color-transparent, rgba(0, 0, 0, 0));
}

ion-button {
  --background-activated: var(--ion-color-primary-tint);
}