<ion-content class="ion-padding">
  <form [formGroup]="formObj">
    <ion-grid>
      <ion-row style="height: 180px"  > </ion-row>

      <ion-row>
        <ion-col class="ion-padding-top"
                 size-sm="6"
                 offset-sm="3">

          <!-- *************EMAIL************************ -->
          <ion-item [ngClass]="{'errorItem': formObj.get('email').invalid && formObj.get('email').touched}">
            <ion-label position="floating"
                       color="primary">
              <ion-icon name="md-mail"
                        slot="start">
              </ion-icon>
              E-Mail
            </ion-label>
            <ion-input type="email"
                       email
                       color="warning"
                       formControlName="email">
            </ion-input>
          </ion-item>

          <!-- ****ERROR LABEL**** -->
          <ion-item class="errorMessage"
                    *ngIf="formObj.get('email').invalid && formObj.get('email').touched"
                    lines="none">
            <p>
              Should ber a valid email
            </p>
          </ion-item>
        </ion-col>
      </ion-row>


      <ion-row style="padding-top:20px">
        <ion-col size-sm="6"
                 offset-sm="3">
          <ion-button [disabled]="formObj.invalid"
                      color="primary"
                      type="submit"
                      expand="block"
                      (click)="onForgotPassword()">
            <b>Reset Password</b>
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row style="height: 40px">
        <ion-col size-sm="6"
                 offset-sm="3">
          <ion-button color="primary"
                      fill="clear"
                      expand="block"
                      (click)="goToLogin()">
            <b>Login</b>
          </ion-button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
